mat-sidenav-content {
  height: 100vh;
  background: #1A1129;
}

mat-sidenav-container{
    height: 100vh;
}

mat-sidenav {
  height: 100vh;
  width: 230px;
  background: radial-gradient(101.53% 101.28% at 100% 0%, #2E1257 0%, #221338 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 1px 4px 10px rgba(160, 68, 255, 0.7), 2px 2px 20px rgba(0, 0, 0, 0.25);
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.panel-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-header__h1 {
  font-family: 'Colonna MT';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 76px;
  background: linear-gradient(37.66deg, #FFF170 -1.12%, #DE871F 57.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.mat-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.mat-list-item__span {
  color: white;
}

fa-icon{
    color: white;
    margin: 0,0,10px,0;
}
