<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav opened="true" mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
        <div mat-list-avatar class="panel-header">
            <h1 class="panel-header__h1">DISCO</h1>
        </div>
        <mat-nav-list>
            <mat-list-item matRippleColor="'blue'" mat-ripple class="mat-list-item" routerLink="#">
                <fa-icon style="margin-right: 10px" [icon]="dashbordIcon"></fa-icon>
                <span class="mat-list-item__span">Dashboard</span>
            </mat-list-item>
            <mat-list-item matRippleColor="blue" mat-ripple routerLink="#">
                <fa-icon style="margin-right: 10px" [icon]="accountsIcon"></fa-icon>
                <span class="mat-list-item__span">Accounts</span>
            </mat-list-item>
            <mat-list-item routerLink="#">
                <fa-icon style="margin-right: 10px" [icon]="dashbordIcon"></fa-icon>
                <span class="mat-list-item__span">Posts</span>
            </mat-list-item>
            <mat-list-item mat-ripple routerLink="#">
                <fa-icon style="margin-right: 10px" [icon]="stories"></fa-icon>
                <span class="mat-list-item__span">Stories</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> 
