<div class="calendar calendar-container">
  <div class="row">
    <div
      class="d-flex d-md-none d-lg-none d-xl-none d-xxl-none justify-content-end ml-2 mt-2"
    >
      <button class="calendar calendar-button">
        <img [src]="'/assets/images/ic_calendar.svg'">
      </button>
    </div>
  </div>
  <div class="row">
    <div
      class="d-flex justify-content-center align-items-center mt-sm-0 mt-md-4"
    >
      <button
        [class.active]="item.name === currentState"
        *ngFor="let item of state"
        (click)="setState(item.name)"
        class="calendar calendar-item m-2 mt-0 mb-0 mr-md-4"
      >
        {{ item.title | translate }}
      </button>
    </div>
  </div>
  <div class="row">
    <div
      class="w-100 d-flex d-md-none d-lg-none d-xl-none d-xxl-none flex-row justify-content-around mt-3 mb-3"
    >
      <button
        (click)="change('Back')"
        class="calendar calendar-item d-sm-block d-md-none"
      >
       <img [src]="'/assets/images/ic_left.svg'">
      </button>

      <p class="calendar calendar-text text-center m-0 p-0">
        <ng-container *ngFor="let item of getArray(currentState)">
          <span *ngIf="item.selected">
            {{ item.label | translate }}
            <ng-container [ngSwitch]="currentState">
              <span *ngSwitchCase="'Month'"> {{ getCurrent("Year")}} </span>
            </ng-container>
          </span>
        </ng-container>
      </p>

      <button
        (click)="change('Next')"
        class="calendar calendar-item d-sm-block d-md-none"
      >
        <img [src]="'/assets/images/ic_right.svg'">
      </button>
    </div>
    <div
      class="w-100 d-none d-sm-none d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-row justify-content-between align-items-center px-7 mt-3 mb-3"
    >
      <button
        (click)="change('Back')"
        class="calendar calendar-item d-sm-none d-md-block"
      >
        <img [src]="'/assets/images/ic_lg_left.svg'">
      </button>

      <p class="calendar calendar-text text-center m-0 p-0">
        <ng-container *ngFor="let item of getArray(currentState)">
          <span *ngIf="item.selected">
            {{ item.label | translate }}
            <ng-container [ngSwitch]="currentState">
              <span *ngSwitchCase="'Month'"> {{ getCurrent("Year")}} </span>
            </ng-container>
          </span>
        </ng-container>
      </p>

      <button
        (click)="change('Next')"
        class="calendar calendar-item d-sm-none d-md-block"
      >
        <img [src]="'/assets/images/ic_lg_right.svg'">
      </button>
    </div>
  </div>
</div>
