<div class="modal-body body">
  <div class="row mb-4">
    <div class="d-flex justify-content-between">
      <span class="modal-title title">Add user</span>
      <button (click)="onCloseClick()" class="bg-transparent border-0">
        <img [src]="'../../../../../../assets/images/ic_close.svg'" />
      </button>
    </div>
  </div>
  <form [formGroup]="form">
    <div class="row">
      <div class="d-flex justify-content-around align-items-center mb-3">
        <button
          *ngFor="let state of states"
          [class.active]="currentState === state.name"
          (click)="currentState = state.name"
          class="modal-role role"
        >
          {{ state.title }}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-around align-items-center mb-3">
        <div class="form-group group">
          <label class="form-label label mx-2">User name</label>
          <input
            [class.invalid]="!form.value.userName"
            formControlName="userName"
            type="text"
            class="form-control control"
          />
          <p-message severity="Error"
            text="User name is requared"
            [@errorState]="!form.value.userName ? 'show' : 'hide'"></p-message>

        </div>
        <div class="form-group group">
          <label class="form-label label mx-2">E-mail</label>
          <input
            [class.invalid]="!form.value.email || form.value.email === emailRegex"
            type="text"
            formControlName="email"
            [pKeyFilter]="emailRegex"
            class="form-control control"
          />
          <p-message severity="Error"
                     text="E-mail is requared"
                     [@errorState]="!form.value.email || form.value.email === emailRegex ? 'show' : 'hide'"></p-message>
        </div>
      </div>
      <div class="d-flex justify-content-around align-items-center mb-3">
        <div class="form-group group">
          <label class="form-label label mx-2">Password</label>
          <input
            [class.invalid]="form.value.password.length < 6"
            formControlName="password"
            type="password"
            class="form-control control"
          />
          <p-message severity="Error"
                     text="Password less then 6 leters"
                     [@errorState]="form.value.password.length < 6 ? 'show' : 'hide'"></p-message>
        </div>
        <div class="form-group group">
          <label class="form-label label mx-2">Confirm password</label>
          <input
            [class.invalid]="form.value.confirmPassword.length < 6"
            formControlName="confirmPassword"
            type="password"
            class="form-control control"
          />
          <p-message severity="Error"
            text="Password less then 6 leters"
            [@errorState]="form.value.confirmPassword.length < 6 ? 'show' : 'hide'"></p-message>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-2">
        <button
          class="form-submit submit px-4 py-2"
          [class.form-submit_disabled]="!form.valid"
          type="submit"
          (click)="onSubmit()"
          [disabled]="!form.valid"
        >
          Add user
        </button>
      </div>
    </div>
  </form>
</div>
