<div class="modal-body body">
  <div class="row">
    <div
      class="modal-form form d-flex justify-content-center align-items-center flex-column"
    >
      <div class="form-title title w-25 mb-3 weight-4 size-28 text-center">
        <h3>{{'ConfirmPasswordResetCode.confirmation' | translate}}</h3>
      </div>
      <div class="form-description description m-5 mb-3 mt-3 text-center">
        {{'ConfirmPasswordResetCode.additionalConfirmation' | translate}}
      </div>
      <form [formGroup]="formGroup">
        <div class="inputs-code d-flex flex-column align-items-center my-4">
          <code-input
            style="width: 80%"
                      [codeLength]="6"
                      (codeChanged)="onCodeChanged($event)"
                      (codeCompleted)="onCodeCompleted($event)"
          >
          </code-input>
          <p-message
            severity="Error"
            text="{{ 'ConfirmPasswordResetCode.validation.requared' | translate }}"
            [@errorState]="checkIsValid('code') ? 'show' : 'hide'"></p-message>
          <p-message
            severity="Error"
            text="{{ 'ConfirmPasswordResetCode.validation.maxLength' | translate }}"
            [@errorState]="checkIsValid('code') ? 'show' : 'hide'"></p-message>
          <p-message severity="Error"
            text="{{ 'ConfirmPasswordResetCode.validation.minLength' | translate }}"
            [@errorState]="checkIsValid('code') ? 'show' : 'hide'"></p-message>
        </div>
      </form>
      <div class="form-submit submit mb-4 mt-4 size-16">
        <input (click)="onSubmit()" class="px-5 py-2" type="submit" value="{{'ConfirmPasswordResetCode.send' | translate }}" />
      </div>
    </div>
  </div>
</div>
