<div class="container-fluid">
  <app-accounts-header></app-accounts-header>
  <div class="accounts-list mt-4 rounded-2 px-3 pt-3">
    <div class="pb-3" *ngFor="let account of accounts; let last = last">
      <app-account-item
          [id]="account.user.id"
          [photo]="account.photo"
          [email]="account.user.email"
          [name]="account.user.userName"></app-account-item>
      <hr *ngIf="!last">
    </div>
  </div>
  <p-paginator
    [dropdownAppendTo]="false"
    [showFirstLastIcon]="false"
    [showJumpToPageDropdown]="false"
    [showCurrentPageReport]="false"
    [showJumpToPageDropdown]="false"
    (onPageChange)="onPageChange($event)" [first]="1" [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
</div>

