<div class="container-fluid">
  <app-accounts-header></app-accounts-header>
  <div class="accounts-list mt-4 rounded-2 px-3 pt-3">
    <div class="pb-3" *ngFor="let account of accounts; let last = last">
      <app-account-item
          [id]="account.user.id"
          [photo]="account.photo"
          [email]="account.user.email"
          [name]="account.user.userName"></app-account-item>
      <hr *ngIf="!last">
    </div>
  </div>
  <p-paginator
    [totalRecords]="totalCount * 2"
    [rows]="5"
    [pageLinkSize]="5"
    [showFirstLastIcon]="false"
    [rowsPerPageOptions]="[10, 20, 30]"
    (onPageChange)="onPageChange($event)"></p-paginator>
</div>

