<div
  [style.backgroundColor]="backgroundColor"
  [style.color]="textColor"
  class=" statistics statistics-container d-flex justify-content-center align-items-center flex-row">
  <div class=" d-none d-sm-block">
    <mat-icon class="statistics-icon icon" [svgIcon]="icon"></mat-icon>
  </div>
  <div class=" d-flex justify-content-center align-items-center flex-column mx-3">
    <span class="statistics statistics-count text-center">130</span>
    <span class="statistics statistics-title text-center">Users</span>
   </div>
 </div>
