<div
  [style.backgroundColor]="backgroundColor"
  [style.color]="textColor"
  class=" statistics statistics-container h-100 py-2 px-4 d-flex justify-content-center align-items-center flex-row">
  <div class=" d-none d-sm-flex justify-content-center align-items-center h-100" >
    <mat-icon class="statistics-icon" [svgIcon]="icon"></mat-icon>
  </div>
  <div class=" d-flex h-100 justify-content-around align-items-center flex-column">
    <span class="statistics statistics-count text-center">{{count}}</span>
    <span class="statistics statistics-title text-center">{{title | translate}}</span>
   </div>
 </div>
