.modal {
  &-body {
    border-radius: 10px;
    background: #2d1848;
  }
}

.form {
  &-title {
    color: #e6e0d2;

    font-family: "ABeeZee";
    font-style: normal;
    line-height: 33px;
  }

  &-submit :only-child {
    font-family: "ABeeZee";
    font-style: normal;
    line-height: 28px;

    color: #e6e0d2;

    background: #825dcd;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }
}

.inputs {
  &-input {
    label {
      font-family: "ABeeZee";
      font-style: normal;
      line-height: 19px;

      color: #e6e0d2;
    }

    input {
      background: transparent !important;
      border: 2px solid #e5e5e5 !important;
      border-radius: 25px !important;
      color: white;
      outline: none;
    }
  }
}
