<div class="modal-body body">
  <div class="row">
    <div
      class="modal-form form d-flex justify-content-center align-items-center flex-column"
    >
      <div class="form-title title w-25 mb-3 weight-4 size-28 text-center">
        <h3>{{'reset.title' | translate }}</h3>
      </div>
      <form>
        <div class="inputs-input d-flex flex-column mb-4">
          <label class="m-3 mt-0 mb-2">{{'reset.newPassword' | translate }}</label>
          <input class="form-control" type="password" />
        </div>
        <div class="inputs-input d-flex flex-column">
          <label class="m-3 mt-0 mb-2">{{'reset.confirm' | translate }}</label>
          <input class="form-control" type="password" />
        </div>
      </form>
      <div class="form-submit submit mb-4 mt-4 size-16">
        <input class="px-5 py-2" type="submit" value="{{'reset.submit' | translate }}" />
      </div>
    </div>
  </div>
</div>
