<div class="modal-body body">
  <div class="row">
    <div
      class="modal-form form d-flex justify-content-center align-items-center flex-column"
    >
      <div class="form-title title w-25 my-3 weight-4 size-28 text-center">
        <h3>{{ "reset.title" | translate }}</h3>
      </div>
      <form [formGroup]="formGroup" (keydown)="onEnterSubmit($event)">

        <div class="inputs-input weight-4 size-16 d-flex flex-column">
          <label class="m-3 mb-2 mt-0" for="password">{{ 'reset.newPassword' | translate }}</label>
            <input
              class="p-2"
              type="password"
              name="password"
              id="password"
              formControlName="password"
              appShowPassword
            />
        </div>
        <div class="inputs-input weight-4 size-16 d-flex flex-column mt-4">
          <label class="m-3 mb-2 mt-0" for="password">{{ 'reset.confirm' | translate }}</label>
            <input
              class="p-2"
              type="password"
              name="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              appShowPassword
            />
        </div>
      </form>
      <div class=" mb-5 mt-4  position-relative">
        <div
          [class.invisible]="loadingState$ | async"
          class=" form-submit submit weight-4 size-24"
        >
          <button
            mat-button
            class="form-submit submit size-16 py-2 px-5"
            (click)="recoverPassword()"
            [disabled]="isDisabledButton()"
            [class.disabled-btn]="isDisabledButton()"
          >
            {{'reset.submit' | translate }}
          </button>
        </div>
        <div *ngIf="(loadingState$ | async)" style="top: 0; left: 35px" class="position-absolute">
          <img width="70" src="../../../../../assets/gifs/gif_public.gif">
        </div>
      </div>
    </div>
  </div>
</div>
