
<app-modal-window-wrapper>
  <ng-template #title>Crop Image</ng-template>

  <ng-template #body>
    <div class=" d-flex flex-column w-100 justify-content-center align-items-center" >
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>
  </ng-template>

  <ng-template #buttons>

  </ng-template>
</app-modal-window-wrapper>

