$breakPointTablet: 768px;
$breakPointDesktop: 1500px;
$breakPointBigDesktop: 2560px;

.dashboard{
  &-container{
    background: #1B1628;
  }

  &-statistics{
    box-shadow: 0px 4px 7px rgba(160, 68, 255, 0.25);
    border-radius: 10px;
    width: 252px;
    height: 128px;

    @media (min-width: $breakPointTablet){
       height: 128px;
    }

    @media (min-width: $breakPointDesktop){
      height: 180px !important;
    }

    @media (min-width: $breakPointBigDesktop) {
      height: 180px !important;
    }
  }
}

.statistics{
  &-icon{
    @media (min-width: $breakPointDesktop) {
       width: 100px;
       height: 100px;
    }
  }

  &-title{
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #E6E0D2;

    @media (min-width: $breakPointDesktop) {
      font-size: 24px;
    }
  }

  &-count{
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #E6E0D2;

    @media (min-width: $breakPointDesktop) {
      font-size: 40px;
      margin-bottom: 10px;
    }
  }

}


#users{
  background: #3481CD;
}
#newUsers{
  background-color: #784AB4;
}

#posts{
  background-color: #19A3A3;
}
