<div class=" dashboard dashboard-container container-fluid w-100 vh-100 justify-content-end">
  <div class=" row pt-sm-5">
     <app-calendar></app-calendar>
  </div>
  <div class=" mt-3 d-flex justify-content-around align-items-center">
    <div class=" col-sm-4">
       <div class="dashboard dashboard-statistics d-flex flex-column justify-content-between p-3" id="users">
          <span class="statistics statistics-count text-center">130</span>
          <span class="statistics statistics-title text-center">Users</span>
       </div>
    </div>
    <div class=" col-sm-4">
      <div class="dashboard dashboard-statistics d-flex flex-column justify-content-between p-3" id="newUsers">
        <span class="statistics statistics-count text-center">600</span>
        <span class="statistics statistics-title text-center">New users</span>
      </div>
   </div>
    <div class=" col-sm-4">
      <div class="dashboard dashboard-statistics d-flex flex-column justify-content-between p-3" id="posts">
        <span class="statistics statistics-count text-center">1k</span>
        <span class="statistics statistics-title text-center">Posts</span>
      </div>
   </div>
</div>
</div>
