<div class="header header-container">
  <div class="row">
    <div class="col-sm-2 header-boxshedow boxsheddow">
      <button
        (click)="createUser()"
        class="header-newUser newUser border-0 p-4"
      >
        <img [src]="'/assets/images/ic_addUser.svg'" />
      </button>
    </div>
    <div class="col-sm-10">
      <div class="header-search search h-100">
        <div
          class="search search-container d-flex justify-content-center align-items-center flex-row h-100 cursor-pointer"
        >
          <div class="search-wrapper wrapper w-85">
            <button
              (click)="onSearchButtonClick()"
              class="border-0 bg-transparent"
            >
              <img [src]="'/assets/images/ic_search.svg'" />
            </button>
            <input
              (keydown)="onEnterButtonClick($event)"
              [(ngModel)]="search"
              placeholder="Search..."
              class="search-input input bg-transparent border-2 p-3 cursor-pointer"
              type="text"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
