<div class="modal-window h-vh-100">
  <div class="modal-window__header row g-0 py-3 px-4">
    <div class="d-flex justify-content-between align-items-center">
      <span class="fs-5">
        <ng-container *ngIf="ticket.owner.photo else defaultPhoto">
          <img [src]="ticket.owner.photo" style="width: 40px; border-radius: 360px"/>
        </ng-container>
        <ng-template #defaultPhoto>
          <img src="./assets/images/ic_user-default.png" style="width: 40px; background-color: white; border-radius: 360px"/>
        </ng-template>

        <span class="ms-2 vertical-align-middle">{{ticket.owner.userName}}</span>
      </span>
      <div class="d-flex align-items-center">
        <p-dropdown
          [options]="statuses"
          [(ngModel)]="status"
          [style]="{
          'border': 'none',
          'font-size': '16px',
          'background':
            status.includes('open') ? 'rgba(255, 255, 255, 0.10)' :
            status.includes('in progress') ? '#3983CB' :
            status.includes('closed') ? '#349974' : ''
            }"
          (onChange)="changeStatus($event)"
        >
          <ng-template pTemplate="selectedItem">
            {{ status | translate }}
          </ng-template>
          <ng-template let-status pTemplate="item">
            <span style="color: white">{{ status | translate }}</span>
          </ng-template>
        </p-dropdown>
        <p-tag class="ms-3 cursor-pointer" [style]="{ 'background': 'white'}">
            <img src="./assets/images/jira.jpg"  class="me-1"/>
            <span style="color: #3983CB;" class="me-2" >Jira</span>
            <i class="pi pi-external-link me-1" style="color: #3983CB;"></i>
        </p-tag>
        <button class="bg-transparent border-0 ms-4 cursor-pointer" (click)="onClose()">
          <img [src]="'../../../../../../assets/images/ic_close.svg'"/>
        </button>
      </div>
    </div>
  </div>
  <div class="row g-0 chat-container">
    <div #chatBlock class="chat py-4 px-2 d-flex flex-column align-items-center" style="overflow: auto;" *ngIf="!isLoading else spinner">
      <ng-container *ngFor="let messageData of messageDates; let last = last">
        <div class="chat__date py-2 px-3 mb-3 ">{{messageData | date : 'mediumDate'}}</div>
        <div class="d-flex flex-column w-100" [class.mb-4]="!last">
          <div
            class="chat__message"
            [ngClass]="message.account.user.userName === myUser ? 'chat__message-my': 'chat__message-companion'"
            *ngFor="let message of filterMessagesByDate(messageData)">
            <div style="color: #C26929" class="fs-5 fw-bolder" *ngIf="message.account.user.userName !== myUser">{{message.account.user.userName}}</div>
            <div class="ps-1">{{message.message}}</div>
            <span class="chat__message-date date">{{getTime(message.createdDate ?? message.created)}}</span>
          </div>
        </div>
      </ng-container>
      <app-input
        [isLoading]="isSendingMessage"
        (onInput)="sendMessage($event)"
        (onSend)="sendMessage($event)" class="position-absolute" style="width: 97%; bottom: 10px"></app-input>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div style="top: 50%; left: 50%" class="position-absolute">
    <img width="100" src="../../../../../assets/gifs/gif_public.gif">
  </div>
</ng-template>
