<div class="modal-window h-vh-100">
  <div class="modal-window__header row g-0 py-3 px-4">
    <div class="d-flex justify-content-between align-items-center">
      <span class="fs-5">
        <img src="./assets/images/ic_user-default.png" style="width: 40px"/>
        <span class="ms-2 vertical-align-middle">Stanislav Korchevskyi</span>
      </span>
      <div class="d-flex align-items-center">
        <p-tag
          [style]="{
          'font-size': '16px',
          'background':
            status === 'open' ? 'rgba(255, 255, 255, 0.10)' :
            status === 'inProgress' ? '#3983CB' :
            status === 'closed' ? '#349974' : ''
            }"
          [value]="'feedback.table.body.status.' + status | translate"
        ></p-tag>
        <p-tag class="ms-3 cursor-pointer" [style]="{ 'background': 'white'}">
            <img src="./assets/images/jira.jpg"  class="me-1"/>
            <span style="color: #3983CB;" class="me-2" >Jira</span>
            <i class="pi pi-external-link me-1" style="color: #3983CB;"></i>
        </p-tag>
        <button class="bg-transparent border-0 ms-4 cursor-pointer" (click)="onClose()">
          <img [src]="'../../../../../../assets/images/ic_close.svg'"/>
        </button>
      </div>
    </div>
  </div>
  <div class="row g-0 chat-container">
    <div #chatBlock class="chat py-4 px-2 d-flex flex-column align-items-center" style="overflow: auto; ">
      <div class="chat__date py-2 px-3 mb-3">Friday 18</div>
      <div class="d-flex flex-column" style="height: 100%">
        <div class="chat__message chat__message-companion">
          Hello, I've been experiencing some playback issues with the app. The songs keep skipping, and the audio quality is poor. Can you please look into this? Thanks.
          <span class="chat__message-date date">8:01 am</span>
        </div>
        <div class="chat__message chat__message-companion">
          Hello, I've been experiencing some playback issues with the app. The songs keep skipping, and the audio quality is poor. Can you please look into this? Thanks.
          <span class="chat__message-date date">8:01 am</span>
        </div>
        <div class="chat__message chat__message-my">
          Hello, I've been experiencing some playback issues with the app. The songs keep skipping, and the audio quality is poor. Can you please look into this? Thanks.
          <span class="chat__message-date date">8:01 am</span>
        </div>
        <div class="chat__message chat__message-my">
          Hello, I've been experiencing some playback issues with the app. The songs keep skipping, and the audio quality is poor. Can you please look into this? Thanks.
          <span class="chat__message-date date">8:01 am</span>
        </div>
        <div class="chat__message chat__message-companion">
          Hello, I've been experiencing some playback issues with the app. The songs keep skipping, and the audio quality is poor. Can you please look into this? Thanks.
          <span class="chat__message-date date">8:01 am</span>
        </div>
        <div class="chat__message chat__message-my">
          Hello, I've been experiencing some playback issues with the app. The songs keep skipping, and the audio quality is poor. Can you please look into this? Thanks.
          <span class="chat__message-date date">8:01 am</span>
        </div>
      </div>
      <app-input class="position-absolute" (onInput)="''" style="width: 97%; bottom: 10px"></app-input>
    </div>
  </div>
</div>
