.modal-window {
    position: fixed;
    top: 0;
    right: -1000px;
    width: 50%;
  @media (max-width: 1200px) {
    width: 70%;
  }
  @media (max-width: 850px) {
    width: 80%;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
    border-radius: 10px;
    background: #17121f;
  &__header {
    background: #271546;
  }
}

.chat {
  &-container {
    height: 91%;
    @media (max-width: 993px) {
      height: 89%;
    }
  }
  height: 93%;
  @media (max-width: 993px) {
    height: 89%;
  }
  @media (max-width: 404px) {
    height: 80%;
  }
  &__date {
    border-radius: 100px;
    background: rgba(250, 250, 250, 0.15);
    color: white;
  }
  &__message {
    overflow-wrap: break-word;
    position: relative;
    width: 40%;
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    border: 1px solid var(--Stroke-Bubble, rgba(35, 35, 35, 0.02));
    &-date {
      position: absolute;
      @media(max-width: 700px) {
        font-size: 10px
      }
      font-size: 13px;
      color: rgba(250, 250, 250, 0.30);
      width: 30%;
      @media(max-width: 700px) {
        width: 40%;
      }
      bottom: 0;
    }
  .chat__message-more {
    display: none;
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  &:hover .chat__message-more {
    display: block;
    opacity: 1;
    transition: all 1s ease-in-out;
  }
    &-my {
      background: #349974;
      align-self: flex-end;
      .date {
        right: 100%;
      }
    }
    &-companion {
      background: #271546 ;
      .date {
        left: 103%;
      }
    }
  }
}

.slideInElement {
  animation: slideIn 1s ease forwards;
}

.slideOutElement {
  animation: slideOut 1s ease forwards;
}

.received-message {
  animation: receivedMessageAnimation 0.3s ease forwards;
}

:host::ng-deep.p-dropdown-panel {
  background: #29193E;
  border: 1px solid #1a1025;
}
:host::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: #130b1a;
}
:host::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  background: #130b1a;
}
:host::ng-deep.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none
}
:host::ng-deep.p-dropdown-label {
  padding: 5px 5px 5px 10px;
  color: white;
}
:host::ng-deep.p-dropdown-item {
  color: white;
}

@keyframes slideIn {
  0% {
    right: -800px;
    display: block;
    opacity: 1;
  }
  100% {
    right: 0;
  }
}

// SlideOut анімація
@keyframes slideOut {
  0% {
    right: 0;
  }
  100% {
    right: -1000px;
    display: none;
    opacity: 0;

  }
}

@keyframes receivedMessageAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
