.modal{

  &-role{
    background: transparent;
    color: white;
    border: transparent;
  }
}

.form{
  &-group {
    color: red;
  }

  &-control{
    border: solid white 2px;
    border-radius: 15px;

    color: white;
    background: transparent;
  }

  &-label {
    color: white
  }

  &-submit{
    border-radius: 15px;

    background: #825DCD;
    color: #E6E0D2;
    cursor: pointer;
    font-size: 16px;
    &_disabled {
      background: gray !important;
      cursor: default !important;
    }
  }
}

.active {
  border-bottom: solid orange 2px;
}

:host::ng-deep p-message{
  //position: absolute;
  //bottom: 8px; left: -17px;
  span {
    font-size: 14px !important;
  }
}
