<app-modal-window-wrapper>

  <ng-template #title>{{'create-user-modal.title' | translate}}</ng-template>

  <ng-template #body>
    <form [formGroup]="form" class="px-2">
      <div class="row">
        <div class="d-flex justify-content-around align-items-center pb-4">
          <button
            *ngFor="let state of states"
            [class.active]="currentState === state.name"
            (click)="currentState = state.name"
            class="modal-role role"
          >
            {{ state.title | translate }}
          </button>
        </div>
      </div>


      <div class="row">
        <div class="d-flex flex-column flex-sm-row justify-content-around align-items-center ">
          <div class="w-100 w-sm-auto form-group group pb-3 pb-sm-5 position-relative">
            <label class="form-label label mx-2">{{'create-user-modal.userName' | translate}}</label>
            <input
              [class.invalid]="checkIsValid('userName')"
              formControlName="userName"
              type="text"
              class="form-control control"
            />
            <p-message severity="Error"
                       text="{{'create-user-modal.userNameValidationError' | translate}}"
                       [@errorState]="checkIsValid('userName') ? 'show' : 'hide'"></p-message>
          </div>
          <div class="w-100 w-sm-auto form-group group pb-3 pb-sm-5 position-relative">
            <label class="form-label label mx-2">{{'create-user-modal.email' | translate}}</label>
            <input
              [class.invalid]="checkIsValid('email')"
              type="text"
              formControlName="email"
              class="form-control control"
            />
            <p-message severity="Error"
                       text="{{'create-user-modal.emailValidationError' | translate}}"
                       [@errorState]="checkIsValid('email') ? 'show' : 'hide'"></p-message>
          </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-around align-items-center">
          <div class="w-100 w-sm-auto form-group group pb-3 pb-sm-5 position-relative">
            <label class="form-label label mx-2">{{'create-user-modal.password' | translate}}</label>
            <input
              [class.invalid]="checkIsValid('password')"
              formControlName="password"
              type="password"
              class="form-control control"
            />
            <p-message severity="Error"
                       text="{{'create-user-modal.passwordValidationError' | translate}}"
                       [@errorState]="checkIsValid('password') ? 'show' : 'hide'"></p-message>
          </div>
          <div class="w-100 w-sm-auto form-group group pb-3 pb-sm-5 position-relative" >
            <label class="form-label label mx-2">{{'create-user-modal.confirmPassword' | translate}}</label>
            <input
              [class.invalid]="checkIsValid('confirmPassword')"
              formControlName="confirmPassword"
              type="password"
              class="form-control control"
            />
            <p-message severity="Error"
                       text="{{'create-user-modal.confirmPasswordValidationError' | translate}}"
                       [@errorState]="checkIsValid('confirmPassword') ? 'show' : 'hide'"></p-message>
          </div>
        </div>
      </div>


    </form>
  </ng-template>

  <ng-template #buttons>
    <div class="d-flex justify-content-center align-items-center mb-3">
      <button
        class="form-submit submit px-4 py-2"
        [class.form-submit_disabled]="!form.valid"
        type="submit"
        (click)="onSubmit()"
        [disabled]="!form.valid"
      >
        {{'create-user-modal.create' | translate }}
      </button>
    </div>
  </ng-template>

</app-modal-window-wrapper>
