<div class="d-flex flex-column flex-md-row justify-content-between align-items center" [class.half-opacity-background]="isChatShown">
  <div class="d-flex align-items-center">
    <button class="rounded-button rounded-button_orange me-2 me-sm-4 w-50 w-md-auto px-0 px-md-4">
      {{'feedback.buttons.inWork' | translate}} (3)
    </button>
    <button class="rounded-button rounded-button_gray w-50 w-md-auto px-0 px-md-4">
      {{'feedback.buttons.archiv' | translate}}
    </button>
  </div>
  <app-search-input class="w-100 w-md-40 w-lg-30 w-xl-25 pt-3 pt-md-0"></app-search-input>
</div>
<div class="mt-4">
  <p-table
    class="d-none d-md-block"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-lg"
    [paginator]="true"
    [rows]="2"
    [showFirstLastIcon]="false"
    [value]="products"
    [showCurrentPageReport]="false">
    <ng-template pTemplate="header">
      <tr>
        <th>{{'feedback.table.header.name' | translate}}</th>
        <th>{{'feedback.table.header.priority' | translate}}</th>
        <th>{{'feedback.table.header.status' | translate}}</th>
        <th class="d-flex align-items-center">{{'feedback.table.header.date' | translate}} <i
          class="pi pi-sort ps-1 cursor-pointer" style="color: rgba(255, 255, 255, 0.35)"></i></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td class="d-flex align-items-center cursor-pointer underlined_hover" (click)="open()">
          <img src="./assets/images/ic_user-default.png" style="width: 40px"/>
          <span class="ms-2 vertical-align-middle">Stanislav Korchevskyi</span>
        </td>
        <td [class]="'priority_' + priority">
          <div class="d-flex align-items-center">
            <img [src]="'./assets/images/priorities/ic_' + priority + '.svg'"/>
            <span class="ms-2 vertical-align-middle">{{'feedback.table.body.priority.' + priority | translate}}</span>
          </div>
        </td>
        <td>
          <p-tag
            [style]="{ 'background':
            status === 'open' ? 'rgba(255, 255, 255, 0.10)' :
            status === 'inProgress' ? '#3983CB' :
            status === 'closed' ? '#349974' : ''
            }"
            [value]="'feedback.table.body.status.' + status | translate"
          ></p-tag>
        </td>
        <td>2023-03-18, 11:00</td>
      </tr>
    </ng-template>
  </p-table>
  <div class="d-block d-md-none">
    <div *ngFor="let item of [1,2,3]; let last = last" class="feedback__card rounded p-3 d-flex flex-column mb-3" [class.mb-4]="!last">
      <div class="d-flex cursor-pointer"  (click)="open()">
        <img src="./assets/images/ic_user-default.png" style="height: 60px"/>
        <div class="d-flex flex-column ms-2">
          <span class="fs-4">Stanislav Korchevskyi</span>
          <span style="color: rgba(255, 255, 255, 0.35);">2023-03-18, 11:00</span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between mt-3">
        <div class="d-flex align-items-center">
          <img src="./assets/images/priorities/ic_medium.svg" style="width: 30px"/>
          <span class="ms-2 vertical-align-middle fs-5"
                style="color: #D5AD1D">{{'feedback.table.body.priority.medium' | translate}}</span>
        </div>
        <p-tag
          severity="success"
          [value]="'feedback.table.body.status.closed' | translate"
          [style]="{ 'font-size': '16px'}"></p-tag>
      </div>
    </div>
    <p-paginator
      [totalRecords]="10"
      [rows]="5"
      [pageLinkSize]="5"
      [showFirstLastIcon]="false"
      [showCurrentPageReport]="false"
      [showJumpToPageDropdown]="isSmallPaginator"
      [showPageLinks]="!isSmallPaginator"
    ></p-paginator>
  </div>
</div>
