<div class="d-flex flex-column flex-md-row justify-content-between align-items center">
  <div class="d-flex align-items-center">
    <button class="rounded-button rounded-button_orange me-2 me-sm-4 w-50 w-md-auto px-0 px-md-4">
      {{'feedback.buttons.inWork' | translate}} (3)
    </button>
    <button class="rounded-button rounded-button_gray w-50 w-md-auto px-0 px-md-4">
      {{'feedback.buttons.archiv' | translate}}
    </button>
  </div>
  <app-search-input class="w-100 w-md-40 w-lg-30 w-xl-25 pt-3 pt-md-0"></app-search-input>
</div>

