:host::ng-deep p-table {
  border-right: 0px !important;
  border-left: 0px !important;
  .p-datatable-thead tr > th, .p-datatable-tbody > tr > td {
    background: linear-gradient(90deg, #291A3D 0%, #291A3D 100%);
  }
  .p-datatable-tbody > tr > td {
    border: 1px solid #594B63;
    border-right: 0px !important;
    border-left: 0px !important;
  }
  .p-datatable .p-datatable-thead > tr > th {
    color: rgba(255, 255, 255, 0.35);
    border-bottom: 1px;
  }
  .p-datatable-wrapper {
    border-radius: 6px;
  }
  .p-paginator-bottom {
    background: linear-gradient(90deg, #291A3D 0%, #291A3D 100%);
    border: none;
  }
}

// Paginator for mobile
:host ::ng-deep .p-paginator{
  background-color: #29193E !important;
  color: white !important
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: linear-gradient(181deg, rgba(160, 68, 255, 0.50) -4.14%, rgba(160, 68, 255, 0.00) 99.34%);
  color: white !important
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover{
  background: linear-gradient(181deg, rgba(160, 68, 255, 0.50) -4.14%, rgba(160, 68, 255, 0.00) 99.34%);
  color: white !important
}

:host ::ng-deep .p-paginator .p-paginator-prev {
  color: white;
  background-image: url(../../../../../../assets/images/ic_prev.svg);
  background-repeat: no-repeat;
  background-position: center;
}

:host ::ng-deep .p-paginator .p-paginator-next {
  color: white;
  background-image: url(../../../../../../assets/images/ic_next.svg);
  background-repeat: no-repeat;
  background-position: center;
}

:host ::ng-deep .p-paginator .p-paginator-next:hover{
  background-color: transparent !important;
  background-image: url(../../../../../../assets/images/ic_next.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  color: white !important
}

:host ::ng-deep .p-paginator .p-paginator-prev:hover{
  background-color: transparent !important;
  background-image: url(../../../../../../assets/images/ic_prev.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  color: white !important
}

:host::ng-deep.p-paginator-page-options {
  background: transparent;
  border: none;
  & * {
    color: white;
  }

}

.feedback {
  &__card {
    background: linear-gradient(90deg, #291A3D 0%, #291A3D 100%);
  }
}

.underlined {
  &_hover {
    :hover {
      text-decoration: underline;
    }
  }
}

.half-opacity-background {
  background: green;
}

.priority {
  &_low {
    img {
      width: 15px;
    }
    span {
      color: rgba(52, 153, 116, 1);
    }
  }
  &_medium {
    img {
      width: 20px;
    }
    span {
      color: rgba(213, 173, 29, 1);
    }
  }
  &_high {
    img {
      width: 15px;
    }
    span {
      color: rgba(192, 105, 50, 1);
    }
  }
  &_critical {
    img {
      width: 15px;
    }
    span {
      color: rgba(224, 85, 61, 1);
    }
  }
}


