<app-modal-window-wrapper>
  <ng-template #title>{{'email-notification-modal.header' | translate}}</ng-template>

  <ng-template #body>
    <form class=" d-flex flex-column w-100 justify-content-center align-items-center" [formGroup]="emailForm" (keydown)="onEnterSubmit($event)">
      <span class="p-fluid w-100 bg-transparent">
        <p-autoComplete
          #autoComplete
          formControlName="recipient"
          placeholder="Write Email To..."
          [multiple]="true"
          [(ngModel)]="selectedItems"
          [suggestions]="items"
          (completeMethod)="search($event)"
          (onUnselect)="disableDeletingFirstElement()"
        ></p-autoComplete>
    </span>
      <input type="text" pInputText formControlName="title" class="w-100 bg-transparent" placeholder="{{'email-notification-modal.title' | translate }}" />
      <textarea rows="10" cols="30" formControlName="body" pInputTextarea class="w-100 bg-transparent" placeholder="{{'email-notification-modal.body' | translate }}"></textarea>

    </form>
  </ng-template>

  <ng-template #buttons>
    <div class="d-flex flex-column flex-sm-row">
      <button
        class="w-100 mb-3 mb-sm-0 w-sm-auto button button_violet"
        [class.invalid-button]="!emailForm.valid"
        [disabled]="!emailForm.valid"
        (click)="sendEmail()"
      >{{'email-notification-modal.send' | translate}}</button>
      <button
        class="w-100 w-sm-auto ms-0 ms-sm-3 button button_blue-hover"
      >{{'email-notification-modal.templates' | translate}}</button>
    </div>
  </ng-template>
</app-modal-window-wrapper>

