<app-modal-window-wrapper>
  <ng-template #title>Send Email</ng-template>

  <ng-template #body>
    <div class=" d-flex flex-column w-100 justify-content-center align-items-center" [formGroup]="emailForm">
      <span class="p-fluid w-100 bg-transparent">
        <p-autoComplete
          #autoComplete
          formControlName="recipient"
          placeholder="Write Email To..."
          [multiple]="true"
          [(ngModel)]="selectedItems"
          [suggestions]="items"
          (completeMethod)="search($event)"
          (onUnselect)="disableDeletingFirstElement()"
        ></p-autoComplete>
    </span>
      <input type="text" pInputText formControlName="title" class="w-100 bg-transparent" placeholder="Title..." />
      <textarea rows="10" cols="30" formControlName="body" pInputTextarea class="w-100 bg-transparent" placeholder="Body..."></textarea>

    </div>
  </ng-template>

  <ng-template #buttons>
    <div class="d-flex flex-column flex-sm-row">
      <button
        class="w-100 mb-3 mb-sm-0 w-sm-auto button button_violet"
        (click)="sendEmail()"
      >Send</button>
      <button
        class="w-100 w-sm-auto ms-0 ms-sm-3 button button_blue-hover"
      >Templates</button>
    </div>
  </ng-template>
</app-modal-window-wrapper>

