@keyframes openDropdown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}

@keyframes closeDropdown {
  0% {
      transform: scaleY(1)
  }
  100% {
      transform: scaleY(0)
  }
}

.dropdown-toggle::after{
  display: none;
}

.lenguage-menu-open {
  animation: openDropdown 700ms ease-out forwards;
  transform-origin: top center;
}

.lenguage-menu-close {
  animation: closeDropdown ease-in forwards;
  transform-origin: top start;
}

.lenguage-icon-open {
  transform: rotate(180deg);
  transition: transform 1s;
}

.lenguage-icon-close {
  transform: rotate(0deg);
  transition: transform 1s;
}

.lenguage{
  &-container {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }

  &-menu{
    background: #29193E;
  }

  &-span {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #FFFFFF;
  }

  &-item {
    color: white;
  }

  &-item :hover {
    background: linear-gradient(89.76deg, rgba(118, 38, 146, 0.51) 0.16%, rgba(128, 54, 165, 0) 99.75%) !important;
  }

  &-item :active {
    background: linear-gradient(89.76deg, rgba(118, 38, 146, 0.51) 0.16%, rgba(128, 54, 165, 0) 99.75%) !important;
  }

}

.item {
  &-cotainer {
    color: #FFFFFF;
  }
}
