<app-modal-window-wrapper>

  <ng-template #title>{{'user-modal.title' | translate}}</ng-template>

  <ng-template #body>
    <div class="row d-flex justify-content-between">
      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column flex-sm-row align-items-center ">
          <img *ngIf="account?.photo; else defaultPhoto" [src]="account?.photo" class="mb-3 mb-sm-0 header header-photo p-0 mx-3"
               alt="user photo">
          <ng-template #defaultPhoto>
            <img width="70px" height="70px" class="mb-3 mb-sm-0 photo photo-default me-3"
                 [src]="'/assets/images/ic_user-default.png'" alt="user default photo">
          </ng-template>
          <div class=" d-flex justify-content-center align-items-center align-items-sm-start flex-column">
            <span class="size-25 weight-4">{{account?.user?.userName}}</span>
            <p-dropdown styleClass="bg-transparent" [options]="roles" [(ngModel)]="currentRole" optionLabel="value" placeholder="Select a Role" (onChange)="onRoleChange($event)">
              <ng-template pTemplate="selectedItem">
                  {{ currentRole.value | translate }}
              </ng-template>
              <ng-template let-role pTemplate="item">
                  {{ role.value | translate }}
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 d-flex justify-content-evenly align-items-center">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <span class=" text-center size-32 weight-4">{{account?.followersCount}}</span>
          <span class=" text-center size-16 weight-4">{{'user-modal.followersCount' | translate }}</span>
        </div>

        <div class=" d-flex justify-content-center align-items-center flex-column">
          <span class=" text-center size-32 weight-4">{{account?.followingsCount}}</span>
          <span class=" text-center size-16 weight-4">{{'user-modal.followingsCount' | translate }}</span>
        </div>

      </div>

    </div>
    <div class=" row mt-4 d-flex flex-row">
      <div class="col-12 col-lg-6 mb-3">
        <app-user-info-card [title]="'user-modal.changeEmailCard.title' | translate" [content]="account?.user.email" [id]="id" [isEditable]="true"></app-user-info-card>
      </div>
      <div class="col-12 d-lg-none col-lg-6 mb-3">
        <app-user-info-card [id]="id" [title]="'user-modal.changePasswordCard.title' | translate" [content]="'user-modal.changePasswordCard.secretValue' | translate" [isEditable]="true"
                            [inputType]="'password'"></app-user-info-card>
      </div>
      <div class="col-12 col-lg-6 mb-3">
        <app-user-info-card [title]="'user-modal.postsCard.title' | translate" [content]="account?.postsCount.toString()"
                            [isEditable]="false"></app-user-info-card>
      </div>
      <div class="col-12 d-none d-lg-block col-lg-6 mb-3">
        <app-user-info-card [id]="id"  [title]="'user-modal.changePasswordCard.title' | translate" [content]="'Password is secret'" [isEditable]="true"
                            [inputType]="'password'"></app-user-info-card>
      </div>
      <div class="col-12 col-lg-6">
        <app-user-info-card [title]="'user-modal.storiesCard.title' | translate" [content]="account?.storiesCount.toString()" [isEditable]="false"></app-user-info-card>
      </div>
    </div>
    <div *ngIf="!reports" class=" d-flex justify-content-center align-items-center mt-4">
      <span>Report of support: 2</span>
    </div>
    <div class=" row mt-2">
      <div *ngFor="let report of reports" class=" col-12 mb-3">
        <app-ticket [title]="report?.name" [description]="report?.description"></app-ticket>
      </div>
    </div>
  </ng-template>

</app-modal-window-wrapper>
