.modal {
  &-body {
    width: 580px;
    background: #29193E;
  }
}

.header{
  &-photo{
    border-radius: 360px;

    width: 79px;
    height: 79px;
  }
}

.photo{
  &-default{
    width: 79px;
    height: 79px;

    border-radius: 360px;
    background-color: white;
  }
}


:host::ng-deep.p-dropdown {
  background: inherit;
  border: none;
  color: white;
  &:hover {
    border: none
  }
}
:host::ng-deep.p-dropdown-panel {
  background: #29193E;
  border: 1px solid #1a1025;
}
:host::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: #130b1a;
}
:host::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  background: #130b1a;
}
:host::ng-deep.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none
}

:host::ng-deep.p-dropdown-label {
  color: #E6E1D4;
  padding: 0;
}

:host::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: #E6E1D4;
}

:host::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: #E6E1D4;
}

:host::ng-deep.p-dropdown .p-dropdown-trigger {
  width: auto;
  padding-left: 10px;
}
