<div style="background-color: #281547; z-index: 999;" class="search search-container d-flex justify-content-center align-items-center flex-row position-relative h-100 cursor-pointer">
  <div class="position-absolute w-100"
    *ngIf="!isEdit"
    style="
      top: -48px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    ">
    <div style="border-left: 2px solid gray; background: #271546;" class="d-flex flex-column justify-content-around align-items-start ps-3">
        <strong>Editable text</strong>
        <span style="font-style: italic;">Hello world</span>
    </div>
  </div>
  <div style="background-color: #33204f;" class=" search-wrapper wrapper w-100 position-relative">
    <input
      #inputElement
      [class.opacity-03]="isLoading"
      [disabled]="isLoading"
      (keydown.enter)="onSendButtonClick()"
      [(ngModel)]="search"
      placeholder="{{'feedback.chat.input.placeholder' | translate}}"
      class="search-input w-95 input bg-transparent border-2 p-3 cursor-pointer"
      type="text"
    >
    <div *ngIf="isLoading" style="height: 100%; right: 10px; top: 6px;" class="position-absolute">
      <img width="40" src="../../../../../assets/gifs/gif_public.gif">
    </div>
    <button *ngIf="!isLoading" (click)="onSendButtonClick()" class=" border-0 bg-transparent">
      <img src='./assets/images/send.png' class="position-absolute" style="right: 10px; top: 11px;">
    </button>
  </div>
</div>
