<div class="search search-container d-flex justify-content-center align-items-center flex-row h-100 cursor-pointer">
  <div class=" search-wrapper wrapper w-100 position-relative">
    <input
      (keydown)="onEnterButtonClick()"
      [(ngModel)]="search"
      placeholder="{{'feedback.chat.input.placeholder' | translate}}"
      class="search-input w-95 input bg-transparent border-2 p-3 cursor-pointer"
      type="text"
    >
    <img src='./assets/images/send.png' class="position-absolute" style="right: 10px; top: 11px;">
  </div>
</div>
