.sidebar{
  width: 25%;
  position: fixed;
}

.page{
  &-container{
    @media (min-width: 360px){
      margin-left: 0;
    }

    @media (min-width: 768px){
      margin-left: 25%;
      min-height: 100vh;
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (min-width: 1280px){
      padding-left: 113px;
      padding-right: 100px;
    }
  }
}
