<div class=" header header-container container-fluid">
  <div class=" row">
    <div class=" col-sm-2 header-boxshedow boxsheddow">
      <button class="header-newUser newUser border-0 p-4">
        <img [src]="'/assets/images/ic_addUser.svg'">
      </button>
    </div>
    <div class=" col-sm-10">
      <div class="header-search search h-100">
        <div class="search search-container d-flex justify-content-center align-items-center flex-row h-100">
          <div class=" search-wrapper wrapper w-85">
            <button class=" border-0 bg-transparent">
              <img [src]="'/assets/images/ic_search.svg'">
            </button>
            <input placeholder="search" class="search-input input bg-transparent border-2" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
