.modal{
  &-dialog{
    border-radius: 10px;
  }
  &-body{
    border-radius: 10px;
    background: #2D1848;
  }

  &-cansal{
    width: 144px;
    height: 43px;

    border-radius: 30px;
    border: 1px solid white;
    padding: 47px, 12px;
  }

  &-cansal:hover{
    background: linear-gradient(90deg, #1887D7 0%, #1887D7 0%, rgba(23.80, 132.71, 211.57, 0) 100%);
    transition: all 0.2s;
  }

  &-submit {
    width: 144px;
    height: 43px;

    border-radius: 30px;
    border: 1px solid white;
    padding: 47px, 12px;
  }

  &-submit :hover{
    background: #C23B29 !important;
    transition: all 0.2s;
  }

  &-span{
    font-size: 16px;
    color: white;
  }
}

.disabled {
  background: gray !important;
  border: 1px solid gray;
}

.button {
  background: inherit;
  border: 1px solid white;
  border-radius: 20px;
  padding: 12px 47px 12px 47px;
  color: inherit;

  &_violet {
    background: #825DCD;
    border: none
  }
  &_orange {
    background: transparent;
    border-color: white;
    &:hover {
      background: #C23B29;
      border-color: #C23B29;

    }
  }
}

input, textarea, :host::ng-deep.p-autocomplete .p-autocomplete-multiple-container:not(.p-disabled) {
  color: white;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.40);
  outline: none !important;
  box-shadow: none !important;

  &:focus {
    box-shadow: none !important;
    border-color: rgba(255, 255, 255, 0.40) !important;

  }
  &:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.40);
    border-color: rgba(255, 255, 255, 0.40) !important;
  }
}

:host::ng-deep.p-autocomplete-multiple-container {
  background: transparent;
}

:host::ng-deep.p-autocomplete .p-autocomplete-multiple-container:not(.p-disabled) input {
  color: white;
}

:host::ng-deep.p-autocomplete-multiple-container > li:first-child .p-autocomplete-token-icon {
  display: none;
}

:host::ng-deep.p-autocomplete-token {
  background: transparent !important;
  color: white !important;
  border: 1px solid white;
  border-radius: 17px !important;
  padding: 0.375rem 1.3rem !important;
}

:host::ng-deep.p-autocomplete-multiple-container {
  padding-bottom: 15px;
}

:host::ng-deep.p-autocomplete-panel {
  background: #29193E;
  border: 1px solid #1a1025;
}

:host::ng-deep.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item:hover {
  background: #130b1a;
}
