<app-modal-window-wrapper>

  <ng-template #title>{{'delete-user-modal.title' | translate}}</ng-template>

  <ng-template #body>
    <div class=" d-flex justify-content-center align-items-center">
      <span class=" text-center">{{'delete-user-modal.description' | translate }}</span>
    </div>
  </ng-template>

  <ng-template #buttons>
    <div class=" d-flex flex-column flex-sm-row justify-content-around align-items-center">
      <button (click)="closeModal()" class="mb-3 mb-sm-0 w-100 w-sm-auto button button_violet-hover">{{'delete-user-modal.cancelButton' | translate}}</button>
      <button (click)="deleteUser()" class="w-100 w-sm-auto button button_orange">{{'delete-user-modal.deleteButton' | translate}}</button>
    </div>
  </ng-template>

</app-modal-window-wrapper>
