<header>
  <nav
    id="main-navbar"
    class="d-block d-md-none navbar navbar-expand-lg navbar-dark w-100 fixed-top overflow-auto"
  >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <div class="navbar-brand navbar-title title size-50">DISCO</div>
      <div class="d-flex align-items-center">
        <app-notification class="px-3"></app-notification>
        <button
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="responsiveNavBar"
          (click)="toggleMenu()"
          class="navbar-toggler"
          type="button"
        >
          <img [src]="'/assets/images/ic_sidebar-menu.svg'">
        </button>
      </div>
    </div>

    <div
      [ngClass]="!isCollapsed ? 'hide-menu' : 'show-menu d-flex flex-column'"
    >
      <ul class="navbar-nav">
        <li
          *ngFor="let route of routes"
          (click)="navigateTo(route.path)"
          class="sidenav-item item"
          [class.active]="
            route.path === router.url || router.url.includes(route.path)
          "
        >
          <mat-icon [svgIcon]="route.icon"></mat-icon>
          <span class="m-3 size-25">{{ route.title | translate }}</span>
        </li>
      </ul>
      <app-languale-full-dropdown class="w-100"></app-languale-full-dropdown>
      <app-user-info
        class="w-100 px-4"
        width="100"
        [userName]="user.userName"
        [userRole]="user.roleName"
        [userPhoto]="user.account.photo"
      ></app-user-info>

    </div>
  </nav>
</header>
