<div class="d-flex">
  <div class="d-flex align-items-center w-50 cursor-pointer">
    <img height="70px" src="assets/images/ic_test.png" class="me-3">
    <div class="d-flex flex-column">
      <p class="fs-4">Kot_22</p>
      <p>Alex Kotaef</p>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between w-50">
    <button class="button button_blue-hover">Send to Email</button>
    <button class="button button_violet-hover">Send push notifications</button>
    <button class="button button_orange">Delete user</button>
  </div>
</div>
