<div class="modal-body body">
  <div class="row">
    <div
      class="modal-form form d-flex justify-content-center align-items-center flex-column"
    >
      <div class="form-title title weight-4 size-28 mt-3">
        <h3>{{ "forgot.title" | translate }}</h3>
      </div>
      <div class="text-center">
        <img [src]="'/assets/images/ic_lock.svg'" width="40" height="53" />
      </div>
      <div class="form-description description m-5 mb-3 mt-3 text-center">
        {{ "forgot.description" | translate }}
      </div>
      <form [formGroup]="formGroup">
        <div class="inputs-input d-flex flex-column">
          <label class="m-3 mt-0 mb-2">
            {{"forgot.formTitle" | translate}}
          </label>
          <input
          [class.invalid]="checkIsValid('email')"
          formControlName="email"
          class="form-control"
          type="email" />
          <p-message
            severity="Error"
            text="{{ 'forgot.validationErrors.requared' | translate }}"
            [@errorState]="checkIsValid('email') ? 'show' : 'hide'"></p-message>
<!--          <span *ngIf="checkIsValid('email')">{{ 'forgot.validationErrors.required' | translate }}</span>-->
        </div>
      </form>
      <div class=" mb-5 mt-4  position-relative">
        <div [class.invisible]="loadingState$ | async" class=" form-submit submit weight-4 size-24">
          <button mat-button class="form-submit submit size-16 py-2 px-5" (click)="onSubmit()">
            {{'forgot.formSubmit' | translate}}
          </button>
        </div>
        <div *ngIf="(loadingState$ | async)" style="top: 0; left: 35px" class="position-absolute">
          <img width="70" src="../../../../../assets/gifs/gif_public.gif">
        </div>
      </div>
    </div>
  </div>
</div>
