<div class="modal-body body">
  <div class="row">
    <div class="modal-form form d-flex justify-content-center align-items-center flex-column">
      <div class="form-title title">
        <h3>Password</h3>
      </div>
      <div class=" text-center">
        <img src="../../../../../assets/images/lock.png" width="40" height="53">
      </div>
      <div class="form-description description text-center">
        Enter your e-mail and you will
        receive a link to create a new password
      </div>
      <form>
        <div class="inputs-input d-flex flex-column">
           <label class="mb-2">E-mail</label>
           <input class="form-control" type="email">
        </div>
     </form>
     <div class="form-submit submit">
      <input type="submit" value="Send">
    </div>
    </div>
  </div>
</div>
