<div class="modal-body body">
  <div class="row">
    <div
      class="modal-form form d-flex justify-content-center align-items-center flex-column"
    >
      <div class="form-title title weight-4 size-28">
        <h3>{{'forgot.title' | translate }}</h3>
      </div>
      <div class="text-center">
        <img
          [src]="'/assets/images/ic_lock.svg'"
          width="40"
          height="53"
        />
      </div>
      <div class="form-description description m-5 mb-3 mt-3 text-center">
        {{'forgot.description' | translate }}
      </div>
      <form>
        <div class="inputs-input d-flex flex-column">
          <label class=" m-3 mt-0 mb-2">{{'forgot.formTitle' | translate }}</label>
          <input class="form-control" type="email" />
        </div>
      </form>
      <div class="form-submit submit mb-4 mt-4 size-16">
        <input class=" px-5 py-2" type="button" value="{{'forgot.formSubmit' | translate}}" (click)="onSubmit()"/>

      </div>
    </div>
  </div>
</div>
