.modal{
  &-dialog{
    width: 330px;
    height: 380px;

    border-radius: 10px;
  }
  &-body{
    width: 100%;
    height: 100%;

    border-radius: 10px;
    background: #2D1848;
  }

  &-inputs{}
}

.form{
  &-title{
    color: #E6E0D2;

    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
  }

  &-submit :only-child{
    font-family: 'ABeeZee';
    font-style: normal;
    line-height: 28px;

    color: #E6E0D2;

    background: #825DCD;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    padding: 10px 52px 9px 53px;
    margin-bottom: 37px;
    margin-top: 24px;
  }

  &-description{
    margin-left: 51px;
    margin-right: 51px;
    margin-top: 17px;
    margin-bottom: 14px;

    color: white;
  }
}

.inputs{
  &-input{
    label{
      font-family: 'ABeeZee';
      font-style: normal;
      line-height: 19px;

      color: #E6E0D2;

      margin-left: 13px;
    }

    input{
      background: transparent !important;
      border: 2px solid #E5E5E5 !important;
      border-radius: 25px !important;
      font-size: 16pt;
      margin: 0, 0, 0, 63px;
      color: white;
      outline: none;

      padding-left: 10px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    input :first{
      margin-bottom: 24px;
    }
  }
}
