<app-modal-window-wrapper>

  <ng-template #title>Send push notifications</ng-template>

  <ng-template #body>
    <div class=" d-flex flex-column w-100 justify-content-center align-items-center" [formGroup]="notificationsForm">
      <span class="p-fluid w-100 bg-transparent">
        <p-autoComplete
          #autoComplete
          formControlName="recipient"
          placeholder="Write Email To..."
          [multiple]="true"
          [(ngModel)]="selectedItems"
          [suggestions]="items"
          (completeMethod)="search($event)"
          (onUnselect)="disableDeletingFirstElement()"
        ></p-autoComplete>
    </span>
      <input type="text" pInputText formControlName="title" class="w-100 bg-transparent" placeholder="Title..." />
      <textarea rows="10" cols="30" formControlName="body" pInputTextarea class="w-100 bg-transparent" placeholder="Body..."></textarea>

    </div>
  </ng-template>

  <ng-template #buttons>
    <div class="d-flex">
      <button
        class="w-100 w-sm-auto button button_violet"
        (click)="sendNotifications()"
      >Send</button>
    </div>
  </ng-template>

</app-modal-window-wrapper>

