<app-modal-window-wrapper>

  <ng-template #title>{{'push-notification-modal.header' | translate}}</ng-template>

  <ng-template #body>
    <form class=" d-flex flex-column w-100 justify-content-center align-items-center" [formGroup]="notificationsForm" (keydown)="onEnterSubmit($event)">
      <span class="p-fluid w-100 bg-transparent">
        <p-autoComplete
          #autoComplete
          formControlName="name"
          placeholder="Write Email To..."
          [multiple]="true"
          [(ngModel)]="selectedItems"
          [suggestions]="names"
          (completeMethod)="search($event)"
          (onUnselect)="disableDeletingFirstElement()"
        ></p-autoComplete>
    </span>
      <input type="text" pInputText formControlName="title" class="w-100 bg-transparent" placeholder="{{'push-notification-modal.title' | translate}}" />
      <textarea rows="10" cols="30" formControlName="body" pInputTextarea class="w-100 bg-transparent" placeholder="{{'push-notification-modal.body' | translate}}"></textarea>

    </form>
  </ng-template>

  <ng-template #buttons>
    <div class="d-flex">
      <button
        class="w-100 w-sm-auto button button_violet"
        (click)="sendNotifications()"
      >{{'push-notification-modal.send' | translate}}</button>
    </div>
  </ng-template>

</app-modal-window-wrapper>

