<div class="modal-body body">
  <div class=" row">
    <div class=" d-flex justify-content-end align-items-end">
      <button
          (click)="closeModal()"
          class=" border-0 bg-transparent">
        <img [src]="'/assets/images/ic_close.svg'">
      </button>
    </div>
  </div>
  <div class="row mt-2 mb-4">
     <div class=" d-flex justify-content-center align-items-center">
        <span class=" text-center">Are you sure you want to delete this user?</span>
     </div>
  </div>
  <div class=" row">
     <div class=" d-flex justify-content-around align-items-center">
      <button (click)="closeModal()" class="button button_violet-hover">Cancel</button>
      <button class="button button_orange">Delete</button>
    </div>
  </div>
</div>
