<div
  [style.width.%]="width"
  [class.user-open-dropdown]="isOpen"
  [class.user-close-dropdown]="!isOpen"
  class=" user user-container dropdown dropdown-toggle d-flex justify-content-between align-items-center mt-sm-auto ms-auto ms-sm-0  flex-shrink-1">
  <div class=" d-flex flex-row">
    <img [src]="userPhoto" class="user-photo photo">
    <div class=" d-flex flex-column m-3 mb-0 mt-0">
       <span class="user-name name size-25">{{userName}}</span>
       <span class="user-role role size-25">{{userRole}}</span>
    </div>
  </div>
  <img
    [class.dropdown-open]="isOpen"
    [class.dropdown-close]="!isOpen"
    (click)="toggleDropdown()" src="../../../../../assets/images/ic_dropdown.svg">
</div>
<div [ngbCollapse]="!isOpen" class=" collapse m-5 mb-0 mt-0">
  <ul class=" user-actions actions bg-transparent">
    <li
       *ngFor="let userAction of userActions"
       (click)="userAction.onClickEvent"
       class="user-action action bg-transparent">
       <mat-icon [svgIcon]="userAction.icon" class=" m-3 mb-0 mt-0"></mat-icon>
       <span class=" action-span span">{{userAction.name}}</span>
    </li>
  </ul>
</div>

