<div
  [style.width.%]="width"
  [class.user-open-dropdown]="isOpen"
  [class.user-close-dropdown]="!isOpen"
  class="user user-container dropdown dropdown-toggle d-flex justify-content-between align-items-center p-4 p-xl-4">
  <div class=" d-flex flex-row md:flex-column flex-xl-row w-100 align-items-center">
    <img [src]="userPhoto" class="user-photo photo ">
    <div class=" d-flex flex-row justify-content-between w-100 ml-3" style="margin-left: 1rem">
      <div class=" d-flex flex-column ml-5 md:ml-0 mt-0 md:mt-3 mx-xl-3 mb-xl-0 mt-xl-0">
        <span class="user-name name size-25">{{userName}}</span>
        <span class="user-role role size-25">{{userRole}}</span>
     </div>
     <img
     style="width:10px"
     class="cursor-pointer"
     [class.dropdown-open]="isOpen"
     [class.dropdown-close]="!isOpen"
     (click)="toggleDropdown()"
     src="../../../../../assets/images/ic_dropdown.svg">
    </div>
  </div>
</div>
<div [ngbCollapse]="!isOpen" class=" collapse m-4 mr-0 mb-0 mt-0">
  <ul class=" user-actions actions bg-transparent">
    <li
       *ngFor="let userAction of userActions"
       (click)="userAction.onClickEvent()"
       class="user-action action bg-transparent">
       <mat-icon [svgIcon]="userAction.icon" class=" m-3 mb-0 mt-0"></mat-icon>
       <span class=" action-span span">{{userAction.name | translate}}</span>
    </li>
  </ul>
</div>

