.dropdown-toggle::after{
  display: none;
}

.dropdown-menu {

  transition: all 1s;
}

.dropdown-open{
  transform: rotate(90deg);
  transition: transform 1s;
}

.dropdown-close{
  transform: rotate(0deg);
  transition: transform 1s;
}

.user-open-dropdown{
  // transform: translateY(-30px);
  transition: transform 1s;
}

.user-close-dropdown{
  // transform: translateY(30px);
  transition: transform 1s;
}

.user {
  &-photo{
    width: 60px;
    height: 60px;

    border-radius: 360px;
  }

  &-name {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #E6E0D2;
  }

  &-role{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;

    color: #E6E0D2;
  }
}

.action {
  &-span {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;

    color: #E6E0D2;
  }
}
