$breakPointTablet: 768px;
$breakPointDesktop: 1500px;

.statistics{
  box-shadow: 0px 4px 7px rgba(160, 68, 255, 0.25);
  border-radius: 10px;

  @media (min-width: $breakPointTablet){
     width: 252px;
     height: 128px;
  }

  @media (min-width: $breakPointDesktop){
    height: 200px;
  }

  &-icon{
    @media (min-width: $breakPointDesktop) {
       width: 100px;
       height: 100px;
    }
  }

  &-title{
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #E6E0D2;

    @media (min-width: $breakPointDesktop) {
      font-size: 24px;
    }
  }

  &-count{
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #E6E0D2;

    @media (min-width: $breakPointDesktop) {
      font-size: 40px;
      margin-bottom: 10px;
    }
  }

}
