<div class="modal-body body">
  <div class=" row pb-5">
    <div class="d-flex justify-content-between">
      <span class="modal-title title fs-5">Send Email</span>
      <button (click)="closeModal()" class="bg-transparent border-0">
        <img [src]="'../../../../../../assets/images/ic_close.svg'" />
      </button>
    </div>
  </div>
  <div class="row mt-2 mb-4">
    <div class=" d-flex flex-column w-100 justify-content-center align-items-center" [formGroup]="emailForm">
      <span class="p-fluid w-100 bg-transparent">
        <p-autoComplete
          #autoComplete
          formControlName="recipient"
          placeholder="Write Email To..."
          [multiple]="true"
          [(ngModel)]="selectedItems"
          [suggestions]="items"
          (completeMethod)="search($event)"
          (onUnselect)="disableDeletingFirstElement()"
        ></p-autoComplete>
    </span>
      <input type="text" pInputText formControlName="title" class="w-100 bg-transparent" placeholder="Title..." />
      <textarea rows="10" cols="30" formControlName="body" pInputTextarea class="w-100 bg-transparent" placeholder="Body..."></textarea>

    </div>
  </div>
  <div class="row">
    <div class="d-flex">
      <button
        class="w-100 w-sm-auto button button_violet"
        (click)="sendEmail()"
      >Send</button>
    </div>
  </div>
</div>
