<div class="login login-container">
  <div class="login-form form">
      <div class="form-title title">
        <h1>DISCO</h1>
      </div>
      <div class="form-login">
         <h4>Log in</h4>
      </div>
      <div class="form-inputs inputs">
          <form [formGroup]="loginForm" (submit)="onSubmit()">
            <div class="inputs-email">
              <label>E-mail</label>
              <input type="email" formControlName="email">
            </div>
            <div class="inputs-password">
                <label>Password</label>
                <input type="password" formControlName="password">
            </div>
          </form>
      </div>

      <div class="form-button">
          <button mat-button>Log in</button>
      </div>
      <div class="form-forgot">
        <div>Forgot your password</div>
      </div>
  </div>
</div>
