@font-face {
  font-family: 'colonna-mt';
  src: url('/src/assets/fonts/ColonnaMT.ttf')
}
// body {
//   background: #1A1129;
// }

// .login-card {
//     border-radius: 1rem;

//     height: 80vh;
// }

// .login-card__body {
//     background: radial-gradient(101.53% 101.28% at 100% 0%, #2E1257 0%, #221338 100%);
// }

// .login-body__submit {
//     width: 50%;
//     height: 6vh;

//     font-family: 'ABeeZee';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 24px;
//     line-height: 28px;
//     color: #E6E0D2;
//     background: #825DCD;
//     box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
//     border-radius: 25px;
// }

// .login-card__h1 {
//     font-family: 'colonna-mt-regular', sans-serif;

//     background: linear-gradient(37.66deg, #FFF170 -1.12%, #DE871F 57.99%);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-clip: text;
//     text-fill-color: transparent;
//     text-shadow: 0px 4px 7px rgba(160, 68, 255, 0.7);
// }

// .login-card__h3 {
//     font-family: 'ABeeZee';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 32px;
//     line-height: 38px;
//     color: #E6E0D2;
// }

// .login-card__group{
//     text-align: left;
// }

// .login-card__label {
//     margin-left: 15px;
//     font-family: 'ABeeZee';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 19px;
//     color: #E6E0D2;
// }

// .login-card__input {
//     background-color: transparent !important;
//     border: 2px solid #E5E5E5 !important;
//     border-radius: 25px !important;
//     font-size: 16pt;
//     margin: 0, 0, 0, 63px;
//     color: white;
// }

// .login-card__input:first-of-type{
//   margin: 0, 0, 0, 63px;
// }

// .login-card__input:active {
//     background-color: transparent !important;
//     border: 2px solid #E5E5E5 !important;
//     border-radius: 25px !important;
// }

// .login-card__a {
//     font-family: 'ABeeZee';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 19px;

//     color: #E6E0D2;
// }

// .login-card__a:hover{
//     font-family: 'ABeeZee';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 19px;

//     color: #E6E0D2;
// }

.login{
 &-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  background: #1A1129;
 }
 &-form{
  background: radial-gradient(101.53% 125.91% at 100% -24.31%, #2E1257 0%, #221338 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 1px 4px 10px rgba(160, 68, 255, 0.7);
  border-radius: 25px;
 }
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-title {
    font-family: 'Colonna MT', sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 76px;
    background: linear-gradient(37.66deg, #FFF170 -1.12%, #DE871F 57.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 4px 7px rgba(160, 68, 255, 0.7);
  }

  &-inputs :first-child{
    margin-bottom: 24px;
  }

  &-login{
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #E6E0D2;
  }

  &-button :only-child{
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #E6E0D2;

    background: #825DCD;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    padding: 10px 52px 9px 53px;
    margin-bottom: 53px;
  }

  &-forgot :only-child{


    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;

    padding-bottom: 4px;
  }

  padding: 50px 70px;
}

.inputs{
  &-input{
    label{
      font-family: 'ABeeZee';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      color: #E6E0D2;

      margin-left: 13px;
    }

    input{
      background: transparent !important;
      border: 2px solid #E5E5E5 !important;
      border-radius: 25px !important;
      font-size: 16pt;
      margin: 0, 0, 0, 63px;
      color: white;
      outline: none;

      padding-left: 10px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    input :first{
      margin-bottom: 24px;
    }

    input:-webkit-autofill {
      -webkit-text-fill-color: white !important;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active  {
          -webkit-box-shadow: 0 0 0 30px #271245 inset;
    }
  }
}
